p{
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    font-size: 20px;
    font-weight: bold;
    /* font-style: italic; */
    /* text-align: center; */
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px  ;

}
.video-stats{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #606060;

}
.video-author{
    margin-bottom: 16px;
    font-size: 14px;
    color:rgb(96,96,96);
    
}
.video-description{
    width: 300px;
    line-height: 20px;
    color: #606060;
    margin-bottom: 80px;
}
img{
    width: 50px;
    height: 40px;
    padding-bottom: 10px;
}
.apple-text{
    font-size: 14px;
    background-color: #e34140;
    padding: 16px;
    text-align: center;
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}
.shop-link:hover{
    text-decoration: underline;


}